Checks:
  - "*"
  - "-abseil-*"
  - "-altera-*"
  - "-android-*"
  - "-boost-*"
  - "-fuchsia-*"
  - "-google-*"
  - "-llvm*"
  - "-zircon-*"
  - "-modernize-use-trailing-return-type"
  - "-modernize-avoid-c-arrays"
  - "-misc-no-recursion"
  - "-misc-misplaced-const"
  - "-misc-include-cleaner"
  - "-misc-non-private-member-variables-in-classes"
  - "-cppcoreguidelines-avoid-magic-numbers"
  - "-cppcoreguidelines-pro-bounds-pointer-arithmetic"
  - "-cppcoreguidelines-owning-memory"
  - "-cppcoreguidelines-pro-bounds-constant-array-index"
  - "-cppcoreguidelines-pro-type-reinterpret-cast"
  - "-cppcoreguidelines-pro-type-union-access"
  - "-cppcoreguidelines-avoid-c-arrays"
  - "-cppcoreguidelines-avoid-const-or-ref-data-members"
  - "-cppcoreguidelines-macro-usage"
  - "-cppcoreguidelines-avoid-goto"
  - "-cppcoreguidelines-pro-type-vararg"
  - "-cppcoreguidelines-avoid-do-while"
  - "-cppcoreguidelines-pro-type-member-init"
  - "-cppcoreguidelines-pro-bounds-avoid-unchecked-container-access"
  - "-cppcoreguidelines-use-enum-class"
  - "-cppcoreguidelines-non-private-member-variables-in-classes"
  - "-readability-function-cognitive-complexity-readability-magic-numbers"
  - "-readability-identifier-length"
  - "-readability-magic-numbers"
  - "-readability-function-cognitive-complexity"
  - "-readability-avoid-nested-conditional-operator"
  - "-hicpp-signed-bitwise"
  - "-hicpp-no-assembler"
  - "-hicpp-avoid-c-arrays"
  - "-hicpp-avoid-goto"
  - "-hicpp-vararg"
  - "-hicpp-member-init"
  - "-hicpp-explicit-conversions"
  - "-bugprone-exception-escape"
  - "-bugprone-easily-swappable-parameters"
  - "-cert-msc32-c"
  - "-cert-msc51-cpp"
CheckOptions:
  cppcoreguidelines-pro-type-member-init.IgnoreArrays: true
  hicpp-member-init.IgnoreArrays: true
  concurrency-mt-unsafe.FunctionSet: "glibc"
HeaderFilterRegex: ""
FormatStyle: "none"
